In [8]:
import pandas as pd

df = pd.read_excel("data/score.xlsx", index_col='지원번호')
df

# 파일 불러오기
# df = pd.read_excel('data/202412_202412_연령별인구현황_연간.xlsx', skiprows=3, usecols='B:C, E:O', index_col='행정기관', nrows=1)
# df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    홍길동   가산고  197   90   85  100  95  85      Python
2번    유관순   가산고  184   40   35   50  55  25        Java
3번    이순신   가산고  168   80   75   70  80  75  Javascript
4번    강감찬   가산고  187   40   60   70  75  80         NaN
5번     김구   가산고  188   15   20   10  35  10         NaN
6번    김유신  디지털고  202   80  100   95  85  80           C
7번    홍길자  디지털고  188   55   65   45  40  35      PYTHON
8번    홍길순  디지털고  190  100   85   90  95  95          C#

In [ ]:
### 컬럼 부분 출력하기

# 컬럼명으로 출력하기
df['이름']
df['키']

# df.columns의 index를 가지고 출력
df.columns
df.columns[0]
df[df.columns[0]]   # df['이름'] 과 동일

## 컬럼 2개 이상 출력 : [[ ]] 사용
df[['이름', '키']]
df.columns
df[['이름', '학교', 'SW특기']]
df.columns
df[['학교', '키', '국어', '영어', '수학']]
df.columns
df[df.columns[1:6]]     # df.columns 사용해서 슬라이싱 가능
df[df.columns[:-1]]
df[df.columns[[1,3,4]]] # 컬럼 부분을 출력
# df[1:5]     # 컬럼 전체의 row 값을 출력

# 컬럼의 행(row) 개수 출력
df[df.columns[5:]][1:3]     # 행의 1, 2 (3앞) 까지 출력

      수학  과학  사회        SW특기
지원번호
2번    50  55  25        Java
3번    70  80  75  Javascript