In [ ]:
import pandas as pd

temp = pd.Series([-20, -10, 0, 10, 20])

print(temp)

0   -20
1   -10
2     0
3    10
4    20
dtype: int64

In [30]:
data = {
    '이름':['홍길동','유관순','이순신','강감찬','김구','김유신','홍길자','홍길순'],
    '학교':['가산고','가산고','가산고','가산고','가산고','디지털고','디지털고','디지털고'],
    '키':[197,184,168,187,188,202,188,190],
    '국어':[90,40,80,40,15,80,55,100],
    '영어':[85,35,75,60,20,100,65,85],
    '수학':[100,50,70,70,10,95,45,90],
    '과학':[95,55,80,75,35,85,40,95],
    '사회':[85,25,75,80,10,80,35,95],
    'SW특기':['Python','Java','Javascript','','','C','PYTHON','C#']
}

In [37]:
# index 지정
df = pd.DataFrame(data, index=['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'])
df.index.name = '지원번호'
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    홍길동   가산고  197   90   85  100  95  85      Python
2번    유관순   가산고  184   40   35   50  55  25        Java
3번    이순신   가산고  168   80   75   70  80  75  Javascript
4번    강감찬   가산고  187   40   60   70  75  80
5번     김구   가산고  188   15   20   10  35  10
6번    김유신  디지털고  202   80  100   95  85  80           C
7번    홍길자  디지털고  188   55   65   45  40  35      PYTHON
8번    홍길순  디지털고  190  100   85   90  95  95          C#

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    8 non-null      object
dtypes: int64(6), object(3)
memory usage: 640.0+ bytes

index 명령어

In [33]:
df.reset_index()                            # index가 삭제되면서 column에 반영
df.reset_index(drop=True)                   # index 삭제, 반영X
df

df.reset_index(drop=True, inplace=True)     # index 삭제, 반영O
df

    이름    학교    키   국어   영어   수학  과학  사회        SW특기
0  홍길동   가산고  197   90   85  100  95  85      Python
1  유관순   가산고  184   40   35   50  55  25        Java
2  이순신   가산고  168   80   75   70  80  75  Javascript
3  강감찬   가산고  187   40   60   70  75  80
4   김구   가산고  188   15   20   10  35  10
5  김유신  디지털고  202   80  100   95  85  80           C
6  홍길자  디지털고  188   55   65   45  40  35      PYTHON
7  홍길순  디지털고  190  100   85   90  95  95          C#

In [35]:
### index 지정
# index 또는 column으로 데이터 검색 가능
# df.set_index('이름', inplace=True)
df.loc['강나래']

KeyError: '강나래'

In [41]:
df.reset_index(drop=True, inplace=True)         # 지원번호 index 삭제 및 반영
df

    이름    학교    키   국어   영어   수학  과학  사회        SW특기
0  홍길동   가산고  197   90   85  100  95  85      Python
1  유관순   가산고  184   40   35   50  55  25        Java
2  이순신   가산고  168   80   75   70  80  75  Javascript
3  강감찬   가산고  187   40   60   70  75  80
4   김구   가산고  188   15   20   10  35  10
5  김유신  디지털고  202   80  100   95  85  80           C
6  홍길자  디지털고  188   55   65   45  40  35      PYTHON
7  홍길순  디지털고  190  100   85   90  95  95          C#

In [44]:
# df.set_index('이름', inplace=True)        # set_index()는 실행 후 재실행 시 에러 -> 주석처리 후 재실행
# df.index.name = "성명"                    # index 이름 변경
df

       학교    키   국어   영어   수학  과학  사회        SW특기
이름
홍길동   가산고  197   90   85  100  95  85      Python
유관순   가산고  184   40   35   50  55  25        Java
이순신   가산고  168   80   75   70  80  75  Javascript
강감찬   가산고  187   40   60   70  75  80
김구    가산고  188   15   20   10  35  10
김유신  디지털고  202   80  100   95  85  80           C
홍길자  디지털고  188   55   65   45  40  35      PYTHON
홍길순  디지털고  190  100   85   90  95  95          C#